{% load static %}
<html>
    <head>
        <title>Ezequiel</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_main.css' %}" />
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.addons.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../../assets/vendors/icheck/skins/all.css">

    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}">
   
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}">
    </head>
    <body>
        <div class="cover-body"></div>
        <div class="h-25"></div>
        <div class="align-content-center">
            <center>
                <h1 class="text-white">Login to Ezequiel</h1>
            </center>
        </div>

        
        <div class="row flex-grow my-auto">
            <div class="offset-xl-4 offset-md-3 col-10 offset-1 col-md-6 col-xl-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title fa-bold">Login</h4>
                 
                  <form class="forms-sample ajax-form" action="{% url 'dash' %}" method="get" id="form-login">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" class="password" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">LOGIN</button>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>

